@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap';
* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100vh;
  background-image: radial-gradient(#0F3460, #16213E);
  font-weight: 300;
  color: #6a7d94;
}

.font:root {
  font-family: "Roboto", sans-serif;
}

.font2:root {
  font-family: "Ubuntu", sans-serif;
}

.font3:root {
  font-family: "Libre Baskerville", serif;
}

.container {
  margin: 0 auto;
  max-width: 90vw;
}

.oculto {
  display: none;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 45vw;
  }
}
.header {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.header .header__title {
  font-size: 1.25rem;
  color: #fff;
  text-transform: lowercase;
  padding-bottom: 2.25rem;
  font-weight: 500;
}
.header .header__nav {
  border-radius: 50px;
  background: #16213E;
  display: flex;
  align-items: center;
  padding: 8px;
}
.header .header__nav .nav__link {
  border-radius: 20px;
  text-decoration: none;
  color: #6a7d94;
  font-size: 0.8rem;
  font-weight: 700;
  height: 100%;
  width: 100%;
  padding: 1rem;
  cursor: pointer;
}
.header .header__nav .active {
  color: #16213E;
}
.header .header__nav .green {
  background-color: rgb(65, 184, 131);
}
.header .header__nav .rosa {
  background-color: #E94560;
}
.header .header__nav .roxo {
  background-color: #533483;
}

.base-timer {
  margin-top: 2rem;
  position: relative;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.base-timer .base-timer__svg {
  transform: scaleX(-1);
  background: radial-gradient(#0F3460, #16213E), #16213E;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 15px #16213E;
}
.base-timer .base-timer__circle {
  fill: none;
  stroke: none;
}
.base-timer .base-timer__circle .base-timer__path-elapsed {
  stroke-width: 3px;
  stroke: none;
}
.base-timer .base-timer__circle .base-timer__path-remaining {
  stroke-width: 5px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  stroke: currentColor;
}
.base-timer .base-timer__circle .base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}
.base-timer .base-timer__circle .base-timer__path-remaining.rosa {
  color: #E94560;
}
.base-timer .base-timer__circle .base-timer__path-remaining.roxo {
  color: #533483;
}
.base-timer .base-timer__circle .base-timer__path-remaining.orange {
  color: orange;
}
.base-timer .base-timer__circle .base-timer__path-remaining.red {
  color: red;
}
.base-timer .timer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.base-timer .timer .timer__time {
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
}
.base-timer .timer .timer__pause {
  border: none;
  outline: none;
  background: none;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 10px;
  padding: 8px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}
.base-timer .timer .timer__pause:hover {
  color: rgb(248, 42, 6);
}

@media screen and (min-width: 1024px) {
  .base-timer .timer .timer__time {
    font-size: 4.5rem;
  }
  .base-timer .timer .timer__pause {
    font-size: 2rem;
  }
}
.main {
  text-align: center;
}

.settings__btn {
  margin-top: 3rem;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}
.settings__btn .fa-solid:before {
  color: #fff;
  font-size: 2rem;
}

.settings {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 90%;
  border-radius: 20px;
  height: 570px;
  background-color: #fff;
}
.settings form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.settings form .settings__header {
  padding: 1.5rem 1rem;
  width: 100%;
  border-bottom: 1px solid #6a7d94;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #6a7d94;
}
.settings form .settings__header h2 {
  font-weight: 700;
  font-size: 1.25rem;
}
.settings form .settings__header .fa-solid {
  cursor: pointer;
}
.settings form .settings__header .fa-solid::before {
  font-size: 1rem;
  color: #6a7d94;
}
.settings form .settings__minutes {
  padding: 1.5rem 1rem;
  width: 100%;
  border-bottom: 1px solid #6a7d94;
}
.settings form .settings__minutes h3 {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3.5px;
  margin-bottom: 1.25rem;
}
.settings form .settings__minutes .settings__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: auto;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.settings form .settings__minutes .settings__container:last-child {
  margin-bottom: 0;
}
.settings form .settings__minutes .settings__container .input_container {
  display: flex;
  align-items: center;
  background: rgb(245, 241, 241);
  padding: 8px;
  border-radius: 8px;
  justify-content: space-evenly;
}
.settings form .settings__minutes .settings__container .input_container input {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  outline: none;
  border: none;
  background: none;
  width: 85%;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: #16213E;
  text-align: center;
  font-size: 1rem;
}
.settings form .settings__minutes .settings__container .input_container .operadores i {
  display: block;
  cursor: pointer;
}
.settings form .settings__minutes .settings__container .input_container .operadores:before {
  color: #6a7d94;
  font-size: 14px;
}
.settings form .settings__minutes .settings__container .input_container .operadores:before:hover {
  color: red;
}
.settings .settings__font {
  padding: 1.5rem 1rem;
  width: 100%;
  border-bottom: 1px solid #6a7d94;
}
.settings .settings__font h3 {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3.5px;
}
.settings .settings__font .fonts__container div {
  margin-top: 1.5rem;
  display: inline-block;
  margin-right: 12px;
}
.settings .settings__font .fonts__container div input {
  display: none;
}
.settings .settings__font .fonts__container div label {
  padding: 8px;
  background-color: rgb(245, 241, 241);
  border-radius: 50%;
  font-weight: 500;
  cursor: pointer;
}
.settings .settings__font .fonts__container div label.active {
  background-color: #16213E;
  color: rgb(245, 241, 241);
}
.settings .settings__color {
  padding: 1.5rem 1rem;
  width: 100%;
  border-bottom: 1px solid #6a7d94;
  border-bottom: 0;
}
.settings .settings__color h3 {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3.5px;
}
.settings .settings__color .color-inputs-container {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.settings .settings__color .color-inputs-container div {
  margin-right: 8px;
}
.settings .settings__color .color-inputs-container div:last-child {
  margin-right: 0;
}
.settings .settings__color .color-inputs-container div input {
  display: none;
}
.settings .settings__color .color-inputs-container div .check::before {
  content: "\f00c";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: white;
}
.settings .settings__color .color-inputs-container div .color__label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  cursor: pointer;
}
.settings .settings__color .color-inputs-container div .color__label.op_1 {
  background-color: rgb(65, 184, 131);
}
.settings .settings__color .color-inputs-container div .color__label.op_2 {
  background-color: #E94560;
}
.settings .settings__color .color-inputs-container div .color__label.op_3 {
  background-color: #533483;
}
.settings .settings__color .color-inputs-container div .fa-solid::before {
  font-size: 12px;
  color: #fff;
}

.settings-btn__aply {
  border: none;
  background-color: #E94560;
  color: #fff;
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
  border-radius: 50px;
}

@media screen and (min-width: 768px) {
  .settings {
    width: 40vw;
    right: 30%;
    height: 420px;
    top: 10%;
  }
  .settings form .settings__minutes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    -moz-column-gap: 8px;
         column-gap: 8px;
  }
  .settings form .settings__minutes h3 {
    grid-column: 1/span 3;
    grid-row: 1/2;
  }
  .settings form .settings__minutes .settings__container {
    text-align: left;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    row-gap: 8px;
    margin: 8px 0;
  }
  .settings form .settings__minutes .settings__container:last-child {
    margin: 8px 0;
  }
  .settings form .settings__minutes .settings__container span {
    font-size: 14px;
  }
  .settings form .settings__font {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .settings form .settings__font div div {
    margin-top: 0;
  }
  .settings form .settings__color {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .settings form .settings__color .color-inputs-container {
    margin-top: 0;
  }
}/*# sourceMappingURL=stylus.css.map */