@import '../base/variaveis';
.base-timer{
    margin-top: 2rem;
    position: relative;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .base-timer__svg {
        transform: scaleX(-1);
        background: radial-gradient($secundary-color, $primary-color), $primary-color;
   
        border-radius: 50%;
        box-shadow: 
        0px 0px 0px 15px $primary-color;
      }
    .base-timer__circle{
        fill: none;
        stroke: none;
        .base-timer__path-elapsed{
            stroke-width: 3px;
            stroke: none;
        }
        .base-timer__path-remaining{
            stroke-width: 5px;
            stroke-linecap: round;
            transform: rotate(90deg);
            transform-origin: center;
            transition: 1s linear all;
            stroke: currentColor;
        }
        .base-timer__path-remaining.green {
            color: $quinta-cor;
          }
          .base-timer__path-remaining.rosa {
            color: $tertiary-colors;
          }
          .base-timer__path-remaining.roxo {
            color: $quaternary-color;
          }
          
          .base-timer__path-remaining.orange {
            color: orange;
          }
          
          .base-timer__path-remaining.red {
            color: red;
          }
       
    }
    .timer{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .timer__time{
          font-size: 4rem;
          font-weight: 700;
          color: #fff;
        }
        .timer__pause{
          
          border: none;
          outline: none;
          background: none;
          text-transform: uppercase;
          font-size: $font-size*1.1;
          letter-spacing: 10px;
          padding: 8px;
          color: #fff;
          font-weight: 500;
          cursor: pointer;
          &:hover{
            color: rgb(248, 42, 6);
          }
        }
    }
}

@media screen and (min-width:1024px) {

  .base-timer .timer .timer__time{
    font-size: $font-size*4.5;
  }
  .base-timer .timer .timer__pause{
    font-size: $font-size*2;
  }
}